/*

[Custom Stylesheet]

Project: QuickFix - Multipurpose Servicing and Repairing HTML Template
Version: 1.0
Author : themelooks.com

*/

#cColorSwitcher {
    display: none !important;
}

.header--nav-lang {
    margin-right: 20px;
}
.header--nav-lang .dropdown-toggle {
    display: block;
    padding: 16px 0 17px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    color: #222;
}
.header--nav-lang .dropdown-toggle:hover,
.header--nav-lang .dropdown-toggle:focus {
    color: #119ee6;
}
.header--nav-lang .dropdown-toggle i {
    margin-right: 5px;
}
.header--nav-lang .dropdown-menu {
    left: auto;
    right: 0;
    min-width: 120px;
    padding: 0;
    border: 0;
    border-radius: 0;
    box-shadow: 0 1px 5px rgba(0,0,0,.2);
}
.header--nav-lang .dropdown-menu > li > a {
    display: block;
    padding: 9px 19px 10px;
    color: #555;
    background-color: #fff;
    border-style: solid;
    border-width: 0 1px 1px;
    border-color: #eee;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-align: left;
}
.header--nav-lang .dropdown-menu > li > a:hover {
    color: #fff;
    background-color: #119ee6;
    border-color: #119ee6;
}

.header--topbar .links.lang-switcher {
    margin-left: 25px;
}

.header--topbar .links.lang-switcher li.active a {
    color: #fff !important;
    font-weight: 700;
}

@media (min-width: 1200px) {
    .header--navbar-top-info .nav > li + li {
        margin-left: 45px !important;
    }
    .header--navbar-top-btn {
        margin-left: 45px !important;
    }
}

